<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Guest Book</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="guestbook" ng-controller="MessageController">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h1>Leave a message HERE HERE HERE</h1>
                <div class="input-group">
                    <div class="input-group md-3" style="margin: 5px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Username</span>
                            <span class="input-group-text" ng-show="incorrectInput" style="color: red">{{incorrectInput}}</span>
                        </div>
                        <input type="text" class="form-control"  ng-model="guestUsername">
                    </div>
                    <div class="input-group mb-3" style="margin: 5px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Message</span>
                        </div>
                        <input type="text" class="form-control" ng-model="messageText">
                    </div>
                    <button class="btn btn-primary btn-lg" ng-click="saveMessage(guestUsername, messageText)" ng-disabled="!guestUsername || !messageText">
                        Publish
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h1>Guest's messages</h1>
            </div>
            <div class="alert alert-info" role="alert" ng-hide="messages &amp;&amp; messages.length > 0">
                There are no messages here yet, be the first!
            </div>
            <div ng-repeat="message in messages">
                <div class="container">
                    <div class="row">
                        <div class="card col-md-10">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Username: {{message.username}}
                                </li>
                                <li class="list-group-item">
                                    Message: {{message.text}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <div class="col text-center">
                                <button type="button" class="btn btn-danger" ng-click="deleteMessage(message)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./app/application.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>
</body>
</html>
